@font-face {
  font-family: "SofiaPro";
  src: url(fonts/Sofia\ Pro\ Regular.ttf) format("truetype");
  /* font-family: "Poppins";
  src: url(fonts/Poppins-Regular.ttf) format("truetype"); */
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.container {
  margin: 0 24px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 97px;
  height: 62px;
}

.menu{
  display: none;
}
.main-menu{
  display: none;
}
.download-btn-menu{
  display: none;
}

.menu-icon {
  width: 36px;
  height: 27px;
}

.heartshape{
  margin: 5px;
}
.trust-us{
  margin : 5px  ;
}

.trust-badge {
  margin: 64px;
  margin-bottom: 0;
  margin-left: 10px;
  background: #fcdcdc;
  display: flex;
  border-radius: 20px;
  font-size: 14px;
  width: 139px;
  height: 28px;
  align-content: center;
}

.hero-text h1 {
  font-size: 3rem;
    margin-bottom: 0;
    font-family: "SofiaPro";
}

.highlight-red {
  color: #e63946;
}

.highlight-yellow {
  color: #f4c430;
}


.hero-text p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #555;
  margin-top: 40px;
  font-family: "SofiaPro";
}

.search-bar {
  display: flex;
  margin-top: 32px;
  background: white;
  border-radius: 30px;
  border: 0.5px solid #191919;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "SofiaPro";
}

.serachicon2 {
  width: 42px;
  height: 42px;
  margin: 5px;
}
.serachicon1 {
  width: 24px;
  height: 24px;
  margin: 15px;
}

.actions {
  display: flex;
  align-items: center;
}

.download-btn {
  background: #e63946;
  font-family: "SofiaPro";
  border: none;
  border-radius: 100px;
  font-weight: 400;
  font-size: 18px;
  width: 162px;
  height: 45px;
  color: white;
}

.video-btn {
  color: #555;
  font-weight: 500;
  font-size: 17px;
  font-family: "SofiaPro";
}
.actions img{
  margin-top: 25px;
}
.girleating{
  display: none;
}

.special-offer{
  display: flex;
  flex-direction: column;
  align-items: center;
   }
.special-offer h1 {
  font-size: 3rem;
   font-family: "SofiaPro";
    text-align: center;
    margin-top: 126px;
    margin-left:  38px;
    margin-right: 38px;
    margin-bottom: 10px;
}

.special-offer p {
  font-size: 1.2rem;
  margin: 22px 24px;
  font-family: "SofiaPro";
  text-align: center;
  padding: 0 13px;
}
.circle{
  width: 248px;
  height: 248px;
  background: linear-gradient(90deg, #F54748, #FDC55E);
  border-radius: 100px;
}







@media( min-width : 1024px){
  .logo{
    margin-left: 79px;
  }
  .menu-icon  {
    display: none;
  }
  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    gap: 50px;
  }
  .main-menu{
    display: flex;
    gap: 9.6%;
    margin-right: 61px;
  }
  .links{
    text-decoration: none;
    color:  #191919;
    font-size: 1.1rem;
    font-family: "SofiaPro";
  }
  .download-btn-menu{
    display: flex;
    font-family: "SofiaPro";
    justify-content: center;
    align-items: center;
    background: #e63946;
    color: white;
    border: none;
    border-radius: 100px;
    font-weight: 400;
    font-size: 18px;
    width: 162px;
    height: 45px;
    }
    .girleating{
      display: flex;
      justify-content: space-between;
      width: 689px;
      height: 657px;
    }
    .firstsection{
      display: flex;
      gap: 77px;
      margin: 0 74px;
    }
}

