@font-face {
  font-family: "SofiaPro";
  src: url(fonts/Sofia\ Pro\ Regular.ttf) format("truetype");
  /* font-family: "Poppins";
  src: url(fonts/Poppins-Regular.ttf) format("truetype"); */
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.container {
  margin: 0 24px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 97px;
  height: 62px;
}

.menu{
  display: none;
}
.main-menu{
  display: none;
}
.download-btn-menu{
  display: none;
}

.menu-icon {
  width: 36px;
  height: 27px;
}

.heartshape{
  margin: 5px;
}
.trust-us{
  margin : 5px  ;
}

.trust-badge {
  margin: 64px;
  margin-bottom: 0;
  margin-left: 10px;
  background: #fcdcdc;
  display: flex;
  border-radius: 20px;
  font-size: 14px;
  width: 139px;
  height: 28px;
  align-content: center;
}

.hero-text h1 {
  font-size: 3rem;
    margin-bottom: 0;
    font-family: "SofiaPro";
}

.highlight-red {
  color: #e63946;
}

.highlight-yellow {
  color: #f4c430;
}


.hero-text p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #555;
  margin-top: 40px;
  font-family: "SofiaPro";
}

.search-bar {
  display: flex;
  margin-top: 32px;
  background: white;
  border-radius: 30px;
  border: 0.5px solid #191919;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "SofiaPro";
}

.serachicon2 {
  width: 42px;
  height: 42px;
  margin: 5px;
}
.serachicon1 {
  width: 24px;
  height: 24px;
  margin: 15px;
}

.actions {
  display: flex;
  align-items: center;
}

.download-btn {
  background: #e63946;
  font-family: "SofiaPro";
  border: none;
  border-radius: 100px;
  font-weight: 400;
  font-size: 18px;
  width: 162px;
  height: 45px;
  color: white;
}

.video-btn {
  color: #555;
  font-weight: 500;
  font-size: 17px;
  font-family: "SofiaPro";
}
.actions img{
  margin-top: 25px;
}
.girleating{
  display: none;
}

.special-offer{
  display: flex;
  flex-direction: column;
  align-items: center;
   }
.special-offer h1 {
  font-size: 3rem;
   font-family: "SofiaPro";
    text-align: center;
    margin-top: 126px;
    margin-left:  38px;
    margin-right: 38px;
    margin-bottom: 10px;
}

.special-offer p {
  font-size: 1.2rem;
  margin: 22px 24px;
  font-family: "SofiaPro";
  text-align: center;
  padding: 0 13px;
}
.food-card-rec {
  width: 290px;
  height: 368px;
  background: linear-gradient(to bottom, #fff, #fdb4b4a6);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  margin: 0 0;
  margin-top: 150px;
  
 }

.image-wrapper {
  position: absolute;
  bottom: 368px;
  left: 40px;
  width: 248px;
  height: 124px;
  border-top-left-radius: 124px;
  border-top-right-radius: 124px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: radial-gradient(circle at top, #FDC55E , #ff9f9f, #fff);
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.food-img {
  width: 198px;
  height: 198px;
  object-fit: cover;
  border: 10px solid white;
  border-radius: 50%;
  display: block;
}

.price-tag {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 140px;
  right: 50px;
  border: 6px solid #fff;
  background: #ffc107;
  color: white;
  font-family: "SofiaPro";
  font-size: 20px;
  border-radius: 50%;
  transform: translate(30%, 30%);
  align-content: center;
}

.rating-line {
  position: absolute;
  left: 100px;
  top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 8px;
  gap: 10px;
}

.avatars img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: -20px;
}

.stars {
  display: flex;
  align-content: center;
  font-size: 16px;
  color: #000;
}

.card-text{
  position: absolute;
  left: 5px;
  top: 240px;
}

.title {
  color: #e63946;
  font-size: 24px;
  font-family: "SofiaPro";
  margin: 8px 0 6px;
}

.description {
  font-size: 18px;
  font-family: "SofiaPro";
  color: #555;
  padding: 0 33px;
}

.order-btn {
  position: absolute;
  left: 100px;
  top: 370px;
  width: 131px;
  height: 45px;
  margin-top: 10px;
  background: #e63946;
  color: white;
  border: none;
  padding: 12px 0;
  border-radius: 30px;
  font-size: 18px;
  font-family: "SofiaPro";
}

.food-card-wrapper{
  display: flex;
  justify-content: center;
}
.food-card {
  display: none;
}


.food-card:first-child {
  display: block;
}

.chef-image-circle {
  width: 383px;
  height: 191px;
  border-top-left-radius: 191px;
  border-top-right-radius: 191px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: radial-gradient(circle at top, #FDC55E , #ff9f9f, #fff);
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

 }
  .thirdsection{
    display: flex;
    margin-top: 150px;
    justify-content: center;
    position: relative;
    flex-direction: column;
   align-items: center;

  }
  .food-relative{
      position: relative;
  }

.chef-food-img {
  width: 331px;
  height: 331px;
  object-fit: cover;
  border: 10px solid white;
  border-radius: 50%;
}
.chef-img {
  position: absolute;
  width: 330px;
  height: 410px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.chef2{
  display: none;
}

.barg2,
.light,
.dooneh{
  position: absolute;
 }
 .light{
  top: -10px;
  left:-50px;
 }
 .dooneh{
  top: 10px;
  right:-20px;
 }
 .barg2{
  bottom: -45px;
  left:5px;
 }

 .thirdsec-text{
  margin-top: 250px;
 margin-left:  24px;
 margin-right:  24px;
  padding: 20px;
 }
 .thirdsec-text h1 {
  font-size: 3rem;
    margin-bottom: 0;
    font-family: "SofiaPro";
}

.thirdsec-text p {
  font-size: 1.2rem;
  color: #000000;
  font-family: "SofiaPro";
  margin-top: 29px;
  margin-bottom: 0;
}

.options-section{
  display: flex;
  flex-direction: column;
  margin-top: 82px;
}
.option{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.option img{
  width: 26px;
  height: 26px;
  margin-right: 10px;
}
.option h6{
  font-size: 18px;
  font-family: "SofiaPro";
  margin: 20px 10px;
}
.aboutus-btn1 {
  width: 131px;
  height: 45px;
  margin-top: 44px;
  background: #e63946;
  color: white;
  border: none;
  padding: 12px 0;
  border-radius: 30px;
  font-size: 18px;
  font-family: "SofiaPro";
  }
  .aboutus-btn2{
    display: none;
  }
  .chef2{
    display: none;
  }
  .wrap-menu{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 8px;
    scrollbar-width: none;
    margin: 64px 24px;
    padding: 0 20px;
  }
  .wrap-menu::-webkit-scrollbar {
    display: none; 
  }
  .wrap-menu-opt {
      flex: 0 0 auto;
      min-width: 100px;
      padding: 10px 20px;
      font-size: 1rem;
      background: #ffffff;
      border: 2px solid black;
      color: #000;
      border-radius: 20px;
      font-family: "SofiaPro";
    }
    .forthsection{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .wrap-menu-opt:first-child {
      background-color: #e63946;
      color: white;
      border: none;
    }
    .wrapper-two{
      display: none;
    }
    .fifthsection{
      margin: 80px 24px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #fifth-text{
      margin-top: 41px;
    }
    .app-budge{
      display: flex;
      flex-direction: row;
      gap: 27px;
      margin-top: 43px;
    }
    .chef4{
      display: none;
    }
    .footer{
      margin: 0 24px;
      padding: 20px;
    }
    .descrip-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }



@media( min-width : 1024px){
 .logo{
    margin-left: 79px;
  }
  .menu-icon  {
    display: none;
  }
  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    gap: 50px;
  }
  .main-menu{
    display: flex;
    gap: 9.6%;
    margin-right: 61px;
  }
  .links{
    text-decoration: none;
    color:  #191919;
    font-size: 1.1rem;
    font-family: "SofiaPro";
  }
  .download-btn-menu{
    display: flex;
    font-family: "SofiaPro";
    justify-content: center;
    align-items: center;
    background: #e63946;
    color: white;
    border: none;
    border-radius: 100px;
    font-weight: 400;
    font-size: 18px;
    width: 162px;
    height: 45px;
    }
    .girleating{
      display: flex;
      justify-content: space-between;
      width: 689px;
      height: 657px;
    }
    .firstsection{
      display: flex;
      gap: 77px;
      margin: 0 74px;
    }
    .special-offer p {
       margin: 22px 260px;
      }
    .food-card {
      display: flex;
      }
  
    .food-card-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 75px;
      gap: 18px;
     }
       .thirdsection{
        display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
      }
       .chef-image-circle {
        display: none;
      }
      .chef2{
       display: inline-block;
       }
       .options-section{
        display: flex;
        flex-direction: row;
        gap: 115px;
        margin-top: 23px;
      }
      .thirdsec-text{
       padding-right: 111px;
       margin-top: 50px;
      }
      .thirdsec-text h1 {
        padding-right: 349px;
      }
      .aboutus-btn2 {
        display: flex;
        width: 131px;
        height: 45px;
        margin-top: 44px;
        background: #e63946;
        color: white;
        border: none;
        padding: 12px 0;
        border-radius: 30px;
        font-size: 18px;
        font-family: "SofiaPro";
        justify-content: center;
        }
        .aboutus-btn1{
          display: none;
        }
        #forsec-text{
          padding: 0 394px;
        }
        .wrap-menu{
          gap: 30px;
        }
        .wrapper-two{
          display: flex;
          margin-top: 66px;
        }
        .fifthsection{
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          align-items: center;
        }
        .chef3{
          display: none;
        }
        .chef4{
          display: block;

        }
  }